<p>product-detail works!</p>
<div *ngIf="product" class="grid-container" style="display:grid;">
    <div class="grid-item" style="border: 1px solid black; background-color: lightblue; width: 10%;">
        {{ product.name }}
        {{product.price}}<br/>
        <img [src]=product.image width="100" height="100"><br/>
        {{product.isActive}}<br/>
    </div>
</div>
<form *ngIf="product" #productForm="ngForm" (ngSubmit)="onSubmit($event)">
    <input 
        type="submit" 
        name="delete" 
        id="delete" 
        value="Delete"/>
    <input 
        type="submit" 
        name="changeState" 
        id="changeState" 
        [value]="product.isActive ? 'Desactive' : 'Active'"/>
</form>
<br/><br/><br/>
<form  *ngIf="product" #productForm="ngForm" (ngSubmit)="onSubmit($event)">
    <div>
        <label for="name">Name</label>
        <input 
            type="text"
            id="name"
            name="name"
            [(ngModel)]="productRequest.name"
            required
            >
    </div>
    <div>
        <label for="price">Price</label>
        <input 
            type="number"
            id="price"
            name="price"
            [(ngModel)]="productRequest.price"
            required
            step="0.01"
            >
    </div>
    <div>
        <label for="image">Image</label>
        <input 
            type="text"
            id="image"
            name="image"
            [(ngModel)]="productRequest.image"
            >
    </div>
    <div>
        <label for="isActive">IsActive</label>
        <input 
            type="checkbox"
            id="isActive"
            name="isActive"
            [(ngModel)]="productRequest.isActive"
            required
            >
    </div>
    <input type="button" name="cancel" id="cancel" value="Anuluj" (click)="cancel()"/>
    <input 
    type="submit" 
    name="save" 
    id="save" 
    value="Save" >
</form>