<p>Produkty:</p>
<div style="display: flex; flex-wrap: wrap;">
    <span *ngFor="let p of data" class="grid-item" style="border: 1px solid g; background-color: lightblue; width: 15%; margin: 5px; padding: 10px; cursor: pointer;" [routerLink]="['/Products', p.id]">
        <div style="text-align: center;">
            {{ p.name }}
            {{ p.price }}<br/>
            <img [src]="p.image" width="100" height="100"><br/>
            {{ p.isActive }}<br/>
            <input type="button" name="add" id="add" value="Add to basket" />
        </div>
    </span>
</div>
<br/><br/><br/>
<form style="display: flex;">
    <input type="button" name="add" id="add" value="Add new product" />
</form>
